<.live_component
    module={NewspaperWeb.AuthComponent}
    id={9}
    data={@current_user}
    permission_to_check={["insert_article"]}
  >
    <div>
      <h1>Manage Articles</h1>
      <p>You have permission to edit or delete articles.</p>
    </div>
</.live_component>