  <h1>Admin or Editor Dashboard</h1>
  <p>Welcome, <%= @current_user.email %>!</p>



<.live_component
    module={NewspaperWeb.AuthComponent}
    id={5}
    data={@current_user}
    permission_to_check={["insert_article"]}
  >
    <div>
      <h1>Manage Articles</h1>
      <p>You have permission to edit or delete articles.</p>
    </div>
</.live_component>