<.header>
  New Champion
  <:subtitle>Use this form to manage champion records in your database.</:subtitle>
</.header>

<.champion_form changeset={@changeset} action={~p"/champions"} />

<.back navigate={~p"/champions"}>Back to champions</.back>
