<main>

    <div class="flex ">
      <.live_component module={NewspaperWeb.SidebarComponent} id={"live_component-1"} />
      <div class="p-4">
        <.flash_group flash={@flash} />
        <%= @inner_content %>
      </div>
    </div>

</main>


